@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Rammetto+One&family=Ubuntu:wght@300;400;500&display=swap')
@import 'mixins'

$h1-font-size: size(40)
$h2-font-size: size(35)
$h3-font-size: size(35)
$h4-font-size: size(30)
$h5-font-size: size(20)
$h6-font-size: size(16)
$p-font-size: size(14)
$small-font-size: size(12)

@include md
	$h1-font-size: size-md(40)
	$h2-font-size: size-md(35)
	$h3-font-size: size-md(35)
	$h4-font-size: size-md(30)
	$h5-font-size: size-md(20)
	$h6-font-size: size-md(16)
	$p-font-size: size-md(14)
	$small-font-size: size-md(12)

\:root
	--bg-color: #FFFFFF
	--bg-color-dark: #CAE1E3
	--text-color: #2A4D64
	--text-color-dark: #28306D
	--text-color-dark-hover: #3D4FC3
	--text-color-dark-active: #28306D
	--text-color-dark-disabled: #C42126
	--text-black: #000000
	--button-color: #3D4FC3
	--button-color-hover: #28306D
	--button-color-active: #28306D
	--text-color-green: rgba(68, 115, 118, 0.7)
	--title-font: 'Ubuntu', sans-serif
	--text-font: 'Montserrat', sans-serif
	--other-font: 'Rammetto One', cursive
	--block-shadow: 0px #{size(5)} #{size(20)} rgba(40, 48, 109, 0.2)
	--dropdown-shadow: 0px #{size(5)} #{size(20)} rgba(179, 119, 255, 0.15)
	--block-radius: #{size(10)}
	--block-radius-big: #{size(25)}
	--block-radius-bigest: #{size(30)}

	--h1-font-size: #{$h1-font-size}
	--h2-font-size: #{$h2-font-size}
	--h3-font-size: #{$h3-font-size}
	--h4-font-size: #{$h4-font-size}
	--h5-font-size: #{$h5-font-size}
	--h6-font-size: #{$h6-font-size}
	--p-font-size: #{$p-font-size}
	--small-font-size: #{$small-font-size}

@include lg
	@include columns(lg)
	.hidden-lg
		display: none
@include md
	@include md
	$h1-font-size: size-md(40)
	$h2-font-size: size-md(35)
	$h3-font-size: size-md(35)
	$h4-font-size: size-md(30)
	$h5-font-size: size-md(20)
	$h6-font-size: size-md(16)
	$p-font-size: size-md(14)
	$small-font-size: size-md(12)
	\:root
		--block-shadow: 0px #{size-md(5)} #{size-md(20)} rgba(40, 48, 109, 0.2)
		--dropdown-shadow: 0px #{size-md(5)} #{size-md(20)} rgba(179, 119, 255, 0.15)
		--block-radius: #{size-md(10)}
		--block-radius-big: #{size-md(25)}
		--block-radius-bigest: #{size-md(30)}
		--h1-font-size: #{$h1-font-size}
		--h2-font-size: #{$h2-font-size}
		--h3-font-size: #{$h3-font-size}
		--h4-font-size: #{$h4-font-size}
		--h5-font-size: #{$h5-font-size}
		--h6-font-size: #{$h6-font-size}
		--p-font-size: #{$p-font-size}
		--small-font-size: #{$small-font-size}

	@include columns(md)
	.hidden-md
		display: none

@include xs
	@include columns(xs)
	.hidden-xs
		display: none

*
	box-sizing: border-box
	margin: 0
	padding: 0
	outline: none

body
	font-weight: 400
	color: var(--text-color)
	font-family: var(--text-font)

section
	overflow: hidden
ul, ol
	list-style-position: inside

.container
	width: 100%
	max-width: size(1280)
	margin: 0 auto

.col
	flex: 0 0 auto
	padding: 0 size(11)


.row
	display: flex
	flex-wrap: wrap
	margin: 0 size(-11)

.block-title
	font-size: var(--h2-font-size)
	line-height: 1.28
	color: var(--text-color-dark)
	font-family: var(--title-font)
	font-weight: 400
input
	width: 100%
	font-size: var(--p-font-size)
	font-family: var(--text-family)
	padding: 0 size(18)
	background-color: var(--bg-color)
	border: size(1) solid #c2c2c2
	border-radius: size(20)
	height: size(50)
	color: #c2c2c2
	caret-color: var(--button-color)
	&::placeholder
		color: #c2c2c2
	&:focus
		border-color: var(--button-color)
button[type="submit"]
	display: flex
	align-items: center
	align-content: center
	justify-content: center
	appearance: none
	background-color: var(--button-color)
	height: size(50)
	padding: 0 size(16)
	border: none
	border-radius: size(20)
	cursor: pointer
	color: #ffffff
	transition: all .3s ease-in-out
	svg
		fill: currentColor
		width: size(20)
		height: auto
	&:hover
		color: #c2c2c2
		background-color: var(--button-color-hover)
	&:active
		color: #ffffff
		background-color: var(--button-color-active)

@for $i from 1 through 6
	h#{$i}
		font-size: var(--h#{$i}-font-size)
p
	font-size: var(--p-font-size)
	line-height: 1.7

.more
	&__content
		display: inline-flex
		align-items: center
		align-content: center
		justify-content: center
		font-size: var(--h6-font-size)
		font-family: var(--title-font)
		line-height: 1.62
		color: var(--text-color)
		font-weight: 600
		text-decoration: none
		transition: all .5s ease-in-out
		&:after
			content: ''
			width: size(10)
			height: size(10)
			display: block
			border-left: size(1) solid var(--text-black)
			border-bottom: size(1) solid var(--text-black)
			transform: rotate(-45deg)
			transition: transform .3s ease-in-out
			margin-left: size(15)
		&:hover
			color: var(--text-color-dark)
	&__link
		display: inline-flex
		align-items: center
		align-content: center
		justify-content: center
		font-size: var(--small-font-size)
		font-family: var(--title-font)
		line-height: 1.83
		color: var(--text-color-dark)
		font-weight: 400
		text-decoration: none
		transition: color .3s ease-in-out
		&:after
			margin-left: size(5)
			content: url('../assets/arrow-link.svg')
			transform: translateX(0)
			transition: transform .3s ease-in-out

		&:hover
			color: var(--text-color-dark-hover)
			&:after
				transform: translateX(size(10))
		&-white
			color: #ffffff
			&:after
				content: url('../assets/arrow-link-white.svg')
			&:hover
				color: #ffffff
				opacity: .7
.bordered__link
	display: inline-flex
	align-items: center
	align-content: center
	justify-content: center
	font-size: size(12)
	color: var(--text-color-dark)
	border-bottom: size(1) solid currentColor
	transition: all .3s ease-in-out
	text-decoration: none
	&:hover
		color: var(--text-color-dark-hover)
	&:active
		color: var(--text-color-dark-active)

.modal
	position: fixed
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	width: 100%
	height: 100%
	pointer-events: none
	z-index: 999
	display: flex
	align-items: center
	align-content: center
	justify-content: center
	&__bg
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(231, 233, 237, 0.4)

	&__container
		width: 100%
		max-width: 50%
		margin: auto
		border-radius: var(--block-radius-big)
		background: #fff
		position: relative
		padding: size(50)
		overflow-y: auto
		max-height: 100%

	&__close
		position: absolute
		right: size(20)
		top: size(20)
		width: size(28)
		height: size(28)
		outline: none
		appearance: none
		color: var(--text-color)
		background: none
		border: 0
		font-weight: bold
		cursor: pointer
		&:before
			content: ''
			position: absolute
			width: size(34)
			height: size(6)
			top: size(10)
			left: size(-3)
			background-color: currentColor
			-webkit-transform: rotate(45deg)
			transform: rotate(45deg)
			border-radius: size(10)
			transition: opacity .3s ease-in-out
		&:after
			content: ''
			position: absolute
			width: size(34)
			height: size(6)
			top: size(10)
			left: size(-2)
			background-color: currentColor
			-webkit-transform: rotate(135deg)
			transform: rotate(135deg)
			border-radius: size(10)
			transition: opacity .3s ease-in-out
	&:hover:before,
	&:hover:after
		opacity: .6
	&__content
		margin: 0 auto
		max-width: 90%
	&.open
		opacity: 1
		visibility: visible
		pointer-events: auto
