@import 'mixins'

.header
	position: absolute
	top: 0
	left: 0
	z-index: 99
	width: 100%
	padding: size(25) 0
	@include md
		padding: size-md(25px) 0
	@include sm
		padding: 48px 0
	.open__form
		display: none
	&.sticky
		position: fixed
		background-color: #ffffff
		transition: transform .3s ease-in-out
		box-shadow: var(--block-shadow)
		@include sm
			padding: 11px 0
			.open__form
				display: flex
				align-items: center
				align-content: center
				justify-content: center
				appearance: none
				background-color: var(--button-color)
				width: 52px
				height: 52px
				padding: 0 5px
				border: none
				border-radius: 50px
				cursor: pointer
				color: #ffffff
				transition: all .3s ease-in-out
				margin-left: auto
				svg
					color: #ffffff
					width: 25px
					height: auto
				&:hover
					color: #c2c2c2
					background-color: var(--button-color-hover)
				&:active
					color: #ffffff
					background-color: var(--button-color-active)
		.header__logo svg
			display: block
			.earth,
			.text
				fill: rgb(72, 76, 100)
		.header__link,
		.header__social-icons li a
			color: rgb(72, 76, 100)
		.hero__form-outer
			box-shadow: var(--block-shadow)
	&__link
		display: inline-block
		font-size: var(--h6-font-size)
		text-decoration: none
		color: #ffffff
		transition: all .3s ease-in-out
		&:hover
			opacity: .7
	&__logo
		a
			display: flex
			width: 100%
			@include md
				max-width: size-md(189)
			@include sm
				max-width: 189px
			svg
				width: 100%
				max-height: size(40)
				@include md
					max-height: size-md(40)
				@include sm
					max-height: 40px
	&__block
		margin-left: auto
	&__outer
		align-items: center
		align-content: center
	&__social
		&-icons
			display: flex
			list-style-type: none
			align-content: center
			align-items: center
			justify-content: space-between
			li
				display: inline-flex
				a
					display: inline-flex
					transition: all .3s ease-in-out
					color: #fff
					&:hover
						opacity: .7
					svg
						width: size(20)
						height: size(20)
						@include md
							width: size-md(20)
							height: size-md(20)
						@include xs
							width: 20px
							height: 20px
.hero
	position: relative
	&__block
		background: linear-gradient(270deg, rgba(0, 8, 16, 0) 0%, rgba(2, 12, 32, .75) 75%)
		backdrop-filter: blur(2px)
		min-height: 78vh
		height: min-content
		padding-top: size(175)
		@include md
			padding-top: size-md(175)
		@include sm
			padding-top: 165px
	&__video
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		height: 100%
		z-index: -1
		video
			width: 100%
			height: 100%
			object-fit: cover
	&__slider
		&.swiper-container
			margin: 0
	&__form
		width: 100%
		max-width: size(952)
		margin: 0 auto
		@include md
			max-width: size-md(952)
		&-outer
			display: flex
			align-items: center
			align-content: center
			background-color: var(--bg-color)
			padding: size(10)
			border-radius: size(100)
			fieldset
				border: none
				padding: 0 size(35)
				border-right: size(1) solid #dddddd
				align-self: center
				&:nth-last-child(2)
					border: none
				&:last-child
					padding: 0
					border: none
				label
					font-weight: bold
					color: #1B2119
					opacity: .95
					font-family: var(--text-font)
					font-size: var(--p-font-size)
					line-height: 1.37
				input
					border-radius: 0
					outline: none
					border: none
					height: size(18)
					padding: 0
					color: #717171
					font-family: var(--text-font)
					font-size: var(--p-font-size)
					&::placeholder
						color: #717171
				button
					width: size(65)
					height: size(65)
					padding: 0
					border-radius: 100%
					svg
						width: size(40)
						height: size(40)
.slider
	@include sm
		padding-bottom: 29px
	&__navigation
		display: flex
		justify-content: flex-end
		padding-top: size(50)
		@include md
			padding-top: size-md(50)
		@include sm
			padding: 0
			display: inline-flex
			justify-content: flex-start
			position: absolute
			bottom: 29px
			left: 20px
		&-title
			font-family: var(--text-font)
			line-height: 1.5
			font-size: 1.75rem
			color: #ffffff
			font-weight: 300
			@include sm
				max-width: 66.66667%
			@include sm
				position: relative
				z-index: 9
				font-size: 20px
		&-description
			max-width: 30vw
			font-family: var(--title-font)
			font-weight: 300
			color: #ffffff
			font-size: 1rem
			line-height: 1.5
			padding: 0.5rem 0 1.75rem
			@include md
				max-width: 40vw
			@include sm
				position: relative
				z-index: 9
				max-width: 66.66667%
				font-size: 16px
	&__pagination
		display: inline-flex
		flex-direction: column
		align-items: flex-end
		max-width: 100%
		padding-right: size(80)
		@include md
			padding-right: size-md(30)
		@include sm
			padding: 0
			flex-direction: row

		&.swiper-pagination-bullets
			width: auto !important
		.swiper-pagination-bullet
			display: inline-flex
			align-items: center
			align-content: center
			justify-content: flex-end
			width: auto
			height: auto
			background: transparent
			color: #ffffff
			opacity: .75
			margin: .75rem 0 2.2vh !important
			@include sm
				margin: 0 7.5px !important
				font-size: 0
				width: 10px
				height: 10px
				border: 1px solid #C2C2C2
				opacity: 1
			&:after
				content: ''
				width: size(5)
				height: size(5)
				display: block
				margin-left: size(23)
				background: #ffffff
				border-radius: 100%
				box-sizing: border-box
				@include sm
					display: none
			&.swiper-pagination-bullet-active
				opacity: 1
				@include sm
					border-color: #ffffff
					background-color: #ffffff
				&:after
					background: #FF6347
.slide
	opacity: 0 !important
	padding-top: 3.47vw
	padding-bottom: 3.47vw
	@include md
		padding-top: 15px
		padding-bottom: 30px
	&__number
		font-size: size(550)
		line-height: 0.45
		color: rgba(0, 0, 255, .75)
		font-family: var(--other-font)
		font-weight: 400
		position: absolute
		top: size(-30)
		right: size(-145)
		opacity: 0
		@include md
			font-size: size-md(500)
			top: size-md(-20)
			right: size-md(-105)
		@include sm
			top: -200px
			right: 0
			font-size: 200px
			line-height: 1
	&__info
		padding-top: size(250)
		@include md
			padding-top: size-md(250)
		@include sm
			padding-top: 150px
		&-first
			padding-bottom: size(180)
		&-big
			&-title
				display: inline-flex
				align-content: center
				align-items: center
				justify-content: flex-start
				font-size: 3rem
				font-weight: 800
				text-transform: uppercase
				line-height: 1
				color: #FF6347
				transform: translateY(size(25))
				transition: all .4s .3s
				opacity: 0
				letter-spacing: -1px
				max-width: size(650)
				@include md
					max-width: size-md(650)
					transform: translateY(size-md(25))
				@include xs
					font-size: 16px
					color: #ffffff
					text-transform: none
					font-weight: 300
					max-width: 100%
			&-subtitle
				max-width: 40vw
				margin-top: size(30)
				color: #ffffff
				transform: translateY(size(25))
				transition: all .4s .4s
				opacity: 0
				font-family: var(--title-font)
				font-size: 1.75rem
				letter-spacing: -.5px
				padding: 0
				font-weight: 300
				line-height: 1.25
				span
					margin-left: 1rem
				@include md
					max-width: 100%
					margin-top: size-md(20)
					transform: translateY(size-md(25))
					span
						margin-left: size-md(5)
				@include sm
					transform: none
					font-size: 16px
					color: #ffffff
					text-transform: none
					font-weight: 300
					max-width: 100%
					span
						margin-left: 0
			&-description
				margin-top: size(10)
				color: #ffffff
				transform: translateY(size(25))
				transition: all .4s .5s
				opacity: 0
				max-width: size(650)
				font-family: var(--title-font)
				font-weight: 300
				font-size: var(--small-font-size)
				line-height: 1.5
				padding: 0 0 1.75rem
				@include xs
					font-size: 16px
					color: #ffffff
					text-transform: none
					font-weight: 300
					max-width: 100%
	&__link
		font-family: var(--title-font)
		font-weight: 300
		margin-top: size(13)
		transform: translateY(size(25))
		transition: all .4s .6s
		opacity: 0
	&.swiper-slide-active
		opacity: 1 !important
		.slide__link
			transform: translateY(0)
			opacity: 1
		.slide__info
			&-big
				&-title,
				&-subtitle,
				&-description
					transform: translateY(0)
					opacity: 1
		.slide__number
			opacity: 1