@import 'mixins'

.polices
	padding: size(60) 0 size(80)
	&__outer
		&-title
			text-align: center
	&__items
		padding-top: size(60)
		overflow: visible
	&__item
		min-height: 100%
		height: auto
		box-shadow: var(--block-shadow)
		transition: all .3s ease-in-out
		&:hover
			cursor: pointer
			margin-top: size(5)
			margin-bottom: size(-5)
			box-shadow: 0 10px 100px 0 rgb(0 92 184 / 5%), 0 10px 15px -5px rgb(0 0 0 / 60%)
	&__buttons
		display: flex
		align-items: center
		justify-content: center
	&__button
		&-next,
		&-prev
			cursor: pointer
			padding: size(10)
			margin: size(10) size(12)
			img
				pointer-events: none

.police
	display: flex
	flex-direction: column
	height: 100%
	background-color: var(--bg-color)
	border-radius: var(--block-radius-bigest)
	padding: size(31)
	&__logos
		display: flex
		justify-content: space-between
		&-company,
		&-seller
			width: size(40)
			height: size(40)
			img
				width: 100%
				height: 100%
				object-fit: contain
	&__info
		display: flex
		flex-wrap: wrap
		flex-direction: column
		align-content: flex-start
		flex: 0 1 100%
		margin-top: size(14)
		&-title
			display: -webkit-box
			-webkit-line-clamp: 3
			-webkit-box-orient: vertical
			overflow: hidden
			margin-bottom: auto
			font-family: var(--title-font)
			letter-spacing: -1px
			font-weight: 400
			font-size: 1.5rem
			line-height: 1.25
			color: #092148
		p
			color: rgba(9, 33, 72, 0.8)
		&-date,
		&-time
			width: 100%
			margin-bottom: size(2)
			font-weight: 300
			font-family: var(--title-font)
			font-size: 1rem
			line-height: 1.5
		&-date
			margin-top: size(12)
		&-insurance
			display: inline-flex
			font-weight: 300
			font-family: var(--title-font)
			font-size: 1rem
			line-height: 1.5
		&-line
			display: flex
			align-items: center
			align-content: center
			justify-content: space-between
			margin-bottom: size(20)
		&-people
			&-number
				display: none
			&-image
				img
					width: size(12.5)
					height: size(15)
					&~img
						margin-left: size(7)
	&__footer

		p
			--p-font-size: 2.5rem
			font-family: var(--title-font)
			text-align: center
			letter-spacing: -1px
			font-weight: 500
			font-size: 2.5rem
			line-height: 1.25
			color: #092148

.covid
	padding-bottom: size(80)
	margin-left: 15vw
	margin-right: 15vw
	&__item
		&-outer
			display: flex
			flex-direction: column
			align-items: center
			height: 100%
			box-shadow: var(--block-shadow)
			border-radius: var(--block-radius-bigest)
			padding: size(51) size(34) size(48)
			background-color: rgba(255, 255, 255, .5)
		&-picture
			width: size(200)
			height: size(200)
			margin-bottom: size(60)
			img
				width: 100%
				height: 100%
				object-fit: contain
		&-description
			text-align: center
			font-weight: 400
			line-height: 1.25
			font-family: var(--title-font)
			letter-spacing: -1pх
			color: #092148
			font-size: 1.5rem
	&__outer
		background-color: rgba(2, 12, 32, .25)
		padding: size(80) 3vw
		&-title
			text-align: center
			margin-bottom: size(85)
			text-transform: uppercase
			letter-spacing: 1.5px
			font-weight: 800
			line-height: 1.25
			color: #092148
			margin-top: calc(-2rem - 5vh)

.abroad
	@include block-padding
	padding-top: 0
	&__outer
		flex-direction: row-reverse
	&__left
		&-title
			margin-bottom: 0
	&__news
		display: flex
		padding: size(30) size(34)
		background-color: #FCFCFC
		box-shadow: var(--block-shadow)
		border-radius: 0
		&-image
			flex: 0 0 42%
			picture,
			img
				display: block
				width: 100%
				height: auto

		&-info
			display: flex
			flex-direction: column
			padding-left: size(15)
		&-title
			font-size: 1.5rem
			line-height: 1.25
			font-weight: 400
		&-description
			display: -webkit-box
			-webkit-line-clamp: 5
			-webkit-box-orient: vertical
			overflow: hidden
			margin: size(15) 0 2rem
			font-family: var(--text-font)
			font-weight: 400
			font-size: .9rem
			line-height: 1.75
		&-link
			margin-left: 0
			margin-right: auto
	&__interesting
		&-title
			max-width: 80%
			font-weight: 800
			font-size: 2rem
			letter-spacing: -1px
			text-transform: uppercase
			line-height: 1
			color: #FF6347
		&-form
			display: flex
			margin-top: size(50)
			label
				flex: 0 1 100%
				padding-right: size(15)
		&-searches
			display: inline-block
			margin-top: size(26)
			max-width: 35vw
			p
				display: inline-block
			ul
				display: inline-block
				list-style-type: none
				margin-left: size(13)
				li
					display: inline-block
					padding: 0 1rem 1.5rem 0
					a
						color: var(--text-color)
						text-decoration: none
						font-size: .9rem
					&+li
						margin-left: size(18)
	&__news
		&-slider
			width: 100%
			overflow: hidden
			&-title
				margin-top: size(22)
				font-size: 1.5rem
				line-height: 1.25
				font-weight: 400
			.swiper-container
				width: 100%
				height: 100%
			&-wrapper
				display: flex
				justify-content: space-between
				align-content: center
				align-items: center
			&-outer
				display: flex
				padding: size(19) 0
		&-foot
			font-size: size(12)
			margin-top: size(-5)
			text-decoration: none
			line-height: 1.83
			color: var(--text-color)

	&__buttons
		display: flex
		justify-content: space-between
		align-content: center
		align-items: center
		margin: 0 size(-21)
	&__button
		&-prev,
		&-next
			cursor: pointer
			margin: 0 size(21)
			img
				pointer-events: none
	&__slide
		padding: size(14) size(26)
		background-color: var(--bg-color)
		border-radius: 0
		box-shadow: var(--block-shadow)
		width: 36.8%
		min-height: 100%
		height: auto
		&-outer
			display: flex
			flex-direction: column
			justify-content: space-between
			height: 100%
		&-title
			display: -webkit-box
			-webkit-line-clamp: 3
			-webkit-box-orient: vertical
			overflow: hidden
			color: var(--text-color-green)
			font-family: var(--text-font)
			font-weight: 400
			font-size: 1.05rem
			line-height: 1
			margin-bottom: .5rem
		&-date
			font-size: size(12)
			display: inline-flex
			color: rgba(42, 77, 100, 0.5)
		&-info
			display: flex
			align-items: center
			align-content: center
			justify-content: space-between


.assistance
	padding: 5rem 0 size(36)
	background: url('../assets/map.jpg'), linear-gradient(270deg, rgba(2, 12, 32, .5) 10%, rgba(2, 12, 32, .75) 100%) top center
	background-blend-mode: multiply
	background-size: contain
	backdrop-filter: blur(.5px)
	&__outer
		display: flex
		flex-wrap: wrap
		justify-content: center
		&-title
			max-width: size(800)
			text-align: center
			margin-bottom: size(60)
			color: #ffffff
	&__info
		padding: 0 size(15) 0 size(55)
		&-title
			font-family: var(--title-font)
			max-width: 40vw
			letter-spacing: -.5px
			padding: 0
			font-weight: 400
			font-size: 1.5rem
			line-height: 1.25
			color: #ffffff
		&-description
			color: #ffffff
			margin-top: size(25)
			max-width: 40vw
			font-family: var(--title-font)
			font-weight: 300
			font-size: 1rem
			line-height: 1.5
			padding: 0 0 1.75rem
			span
				display: inline-block
				margin-bottom: size(25)
	&__numbers
		padding-left: 10vw
		&-item
			text-align: left
			font-weight: 700
			font-size: 1.5rem
			letter-spacing: -1px
			text-transform: uppercase
			line-height: 1
			color: #FF6347
			max-width: 56%
			span
				font-family: var(--text-font)
				padding-right: size(20)
				display: block
				font-size: 7rem
				letter-spacing: -1px
				font-weight: 900
				text-transform: uppercase
				line-height: 1
				color: rgba(0, 0, 255, .95)
	&__review
		padding-top: size(30)
		&-outer
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			padding: size(47) size(49)
			border-radius: var(--block-radius-bigest)
			box-shadow: var(--block-shadow)
			background-color: rgba(255,255,255,.75)
			transition: all .3s ease-in-out
			height: 100%
			&:hover
				background-color: var(--bg-color)
		&-title
			max-width: 60%
			font-family: var(--title-font)
			letter-spacing: -1px
			font-weight: 400
			font-size: 1.5rem
			line-height: 1.25
			color: #092148
		img
			object-fit: cover
			border-radius: 50%
		&-link
			margin-right: auto
			margin-top: size(10)
		&-date
			width: 100%
			margin: size(20) 0 size(12)
		&-description
			color: var(--text-color-green)
			font-family: var(--text-font)
			font-weight: 400
			font-size: 1rem
			line-height: 1.5
			margin-bottom: 2rem

.reviews
	@include block-padding
	&__items
		overflow: visible
	&__outer
		&-title
			text-align: center
			margin-bottom: size(80)
	&__buttons
		display: flex
		align-items: center
		justify-content: center
	&__button
		&-next,
		&-prev
			cursor: pointer
			padding: size(10)
			margin: size(10) size(12)
			img
				pointer-events: none

.review
	&__block
		display: flex
		flex-direction: column
		flex-wrap: wrap
		justify-content: center
		background-color: var(--bg-color)
		box-shadow: var(--block-shadow)
		border-radius: 0
		padding: size(34) size(40)
		height: 100%
		transition: all .3s ease-in-out
		&:hover
			cursor: pointer
			margin-top: size(5)
			margin-bottom: size(-5)
			box-shadow: 0 10px 100px 0 rgba(0, 92, 184, .05), 0 10px 15px -5px rgba(0, 0, 0, .6)
		&-title
			align-self: flex-start
			font-family: var(--title-font)
			letter-spacing: -1px
			font-weight: 400
			font-size: 1.5rem
			line-height: 1.25
			color: #092148
			margin-top: size(14)
		&-date,
		&-site
			width: 100%
			text-align: left
			font-family: var(--text-font)
			font-weight: 300
			font-size: 1rem
			line-height: 1.25
			margin-top: size(12)
		&-link
			margin-top: auto
			margin-right: auto
		&-info
			display: inline-flex
			flex-direction: column
			align-items: flex-end
			align-self: flex-start
		&-description
			display: -webkit-box
			-webkit-line-clamp: 8
			-webkit-box-orient: vertical
			overflow: hidden
			margin: 0 0 size(35)
			color: var(--text-color-green)
			font-family: var(--title-font)
			font-weight: 300
			font-size: 1rem
			line-height: 1.5
			padding: 1rem 0
	&__logos
		display: flex
		justify-content: center
		&-company,
		&-seller
			margin: 0 auto
			width: size(40)
			height: size(40)
			img
				width: 100%
				height: 100%
				border-radius: 50%
				object-fit: cover
.questions
	@include block-padding
	background-color: var(--bg-color-dark)
	&__outer
		display: flex
		flex-direction: column
		align-content: center
		.more__content
			margin: 0 auto
		&-title
			text-align: center
	&__block
		flex-direction: column
		align-items: center
		margin: size(15) 0 size(50)
.question
	margin-top: size(50)
	details
		-webkit-appearance: none
		appearance: none
		background: var(--bg-color)
		box-shadow: var(--dropdown-shadow)
		border-radius: size(25)
		&>p
			padding: 0 size(25) size(45) size(25)
			user-select: none
			color: var(--text-color-green)

		summary
			display: flex
			-webkit-appearance: none
			appearance: none
			padding: size(25) size(25) size(24)
			cursor: pointer
			h6
				display: flex
				align-items: center
				align-content: center
				justify-content: space-between
				width: 100%
				font-family: var(--text-font)
				font-weight: 600
				user-select: none
				&:after
					content: ''
					width: size(20)
					height: size(20)
					display: block
					border-left: size(1) solid var(--text-black)
					border-bottom: size(1) solid var(--text-black)
					transform: rotate(45deg)
					transition: transform .3s ease-in-out
			&::marker,
			&::-webkit-details-marker
				display: none !important
		&[open]
			summary
				h6
					&:after
						transform: rotate(-45deg)
.files
	padding: size(20) 0 size(155)
	background-color: var(--bg-color-dark)
	&__outer
		&-title
			text-align: center
			margin-bottom: size(70)

.file
	margin-bottom: size(25)
	&__link
		display: inline-flex
		max-width: size(251)
		align-items: flex-start
		text-decoration: none
		color: var(--text-color-green)
		transition: all .3s ease-in-out
		&:hover
			color: var(--text-color-dark-hover)
		&:active
			color: var(--text-color-dark-active)
		&:disabled
			color: var(--text-color-dark-disabled)
		svg
			flex: 0 0 size(20)
			width: size(20)
			height: size(20)
			object-fit: contain
			margin-top: size(5)
		&-text
			padding-left: size(30)
.footer
	background-color: var(--text-color-dark)
	padding: size(80) 0 size(57)
	@include md
		padding-top: size-md(68)
	&__menu
		&-title
			font-weight: 600
			line-height: 1.62
			color: #F6F9FC
		&-list
			list-style-type: none
			margin-top: size(3)
			@include md
				margin-top: size-md(3)
			li
				margin-top: size(15)
				a
					text-decoration: none
					color: #BFCDD6
					font-size: var(--p-font-size)
					line-height: 1.7
					font-weight:  400
					transition: all .3s ease-in-out
					&:hover
						color: #ffffff
		&-social
			display: flex
			justify-content: flex-end
			&-list
				display: flex
				flex-direction: column
				align-items: center
				align-content: center
				justify-content: space-between
				list-style-type: none
				width: size(20)
				height: 100%
				li
					display: block
					a
						display: block
						width: size(20)
						height: size(20)
						transition: all .3s ease-in-out
						&:hover
							opacity: .7
						img
							width: 100%
							height: 100%
							object-fit: contain
	&__info
		&-contacts
			margin-top: size(13)
			a
				text-decoration: none
				display: inline-block
				margin-top: size(23)
				line-height: 1.5
				font-size: var(--h6-font-size)
				color: #ffffff
				transition: all .3s ease-in-out
				&:hover
					opacity: .7
		&-payments
			margin-top: size(113)
			max-width: size(200)
			&-list
				display: flex
				list-style-type: none
				align-content: center
				align-items: center
				justify-content: space-between
				li
					flex: 0 0 size(40)
					width: size(40)
					max-height: size(15)
					img
						width: 100%
						height: 100%
						object-fit: contain
	&__copyright
		margin-top: size(61)
		&-text
			color: #ffffff
			font-size: var(--small-font-size)
			text-align: center

.about
	&__modal
		&-description
			span
				display: block
				margin-top: size(15)