@charset "UTF-8";
.polices {
  padding: 4.1666666667vw 0 5.5555555556vw;
}
@media screen and (max-width: 1023px) {
  .polices {
    padding: 5.859375vw 0 7.8125vw;
  }
}
.polices__outer-title {
  text-align: center;
}
.polices__items {
  padding-top: 4.1666666667vw;
  overflow: visible;
}
@media screen and (max-width: 1023px) {
  .polices__items {
    padding-top: 5.859375vw;
  }
}
@media screen and (max-width: 767px) {
  .polices__items {
    padding-top: 30px;
  }
}
.polices__item {
  min-height: 100%;
  height: auto;
  box-shadow: var(--block-shadow);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 560px) {
  .polices__item {
    width: 75%;
    min-width: 270px;
    transition: none;
  }
}
.polices__item:hover {
  cursor: pointer;
  margin-top: 0.3472222222vw;
  margin-bottom: -0.3472222222vw;
  box-shadow: 0 10px 100px 0 rgba(0, 92, 184, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 1023px) {
  .polices__item:hover {
    margin-top: 0.48828125vw;
    margin-bottom: -0.48828125vw;
  }
}
@media screen and (max-width: 767px) {
  .polices__item:hover {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.polices__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .polices__buttons {
    display: none;
  }
}
.polices__button-next, .polices__button-prev {
  cursor: pointer;
  padding: 0.6944444444vw;
  margin: 0.6944444444vw 0.8333333333vw;
}
.polices__button-next img, .polices__button-prev img {
  pointer-events: none;
}

.police {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: var(--block-radius-bigest);
  padding: 2.1527777778vw;
}
@media screen and (max-width: 1023px) {
  .police {
    padding: 3.02734375pxvw;
  }
}
@media screen and (max-width: 479px) {
  .police {
    padding: 31px;
  }
}
.police__logos {
  display: flex;
  justify-content: space-between;
}
.police__logos-company, .police__logos-seller {
  width: 2.7777777778vw;
  height: 2.7777777778vw;
}
@media screen and (max-width: 1023px) {
  .police__logos-company, .police__logos-seller {
    width: 3.90625vw;
    height: 3.90625vw;
  }
}
@media screen and (max-width: 767px) {
  .police__logos-company, .police__logos-seller {
    width: 40px;
    height: 40px;
  }
}
.police__logos-company img, .police__logos-seller img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.police__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  flex: 0 1 100%;
  margin-top: 0.9722222222vw;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .police__info {
    margin-top: 1.3671875vw;
  }
}
@media screen and (max-width: 479px) {
  .police__info {
    margin-top: 14px;
  }
}
.police__info-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: auto;
  font-family: var(--title-font);
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #092148;
}
@media screen and (max-width: 767px) {
  .police__info-title {
    padding-right: 30px;
    font-size: 16px;
  }
}
.police__info p {
  color: rgba(9, 33, 72, 0.8);
}
.police__info-date, .police__info-time {
  width: 100%;
  margin-bottom: 0.1388888889vw;
  font-weight: 300;
  font-family: var(--title-font);
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (max-width: 1023px) {
  .police__info-date, .police__info-time {
    margin-bottom: 0.1953125vw;
  }
}
@media screen and (max-width: 767px) {
  .police__info-date, .police__info-time {
    font-size: 16px;
    bottom: 15px;
  }
}
.police__info-date {
  margin-top: 0.8333333333vw;
}
.police__info-insurance {
  display: inline-flex;
  font-weight: 300;
  font-family: var(--title-font);
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .police__info-insurance {
    font-size: 16px;
  }
}
.police__info-line {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1.3888888889vw;
}
@media screen and (max-width: 767px) {
  .police__info-people {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.police__info-people-number {
  display: none;
}
@media screen and (max-width: 767px) {
  .police__info-people-number {
    display: inline-flex;
    font-size: 20px;
    color: var(--text-color-dark-hover);
    margin-right: 4px;
  }
}
.police__info-people-image img {
  width: 0.8680555556vw;
  height: 1.0416666667vw;
}
@media screen and (max-width: 1023px) {
  .police__info-people-image img {
    width: 1.220703125vw;
    height: 1.46484375vw;
  }
}
@media screen and (max-width: 767px) {
  .police__info-people-image img {
    width: 12.5px;
    height: 15px;
    margin-top: 4px;
  }
}
.police__info-people-image img ~ img {
  margin-left: 0.4861111111vw;
}
@media screen and (max-width: 1023px) {
  .police__info-people-image img ~ img {
    margin-left: 0.68359375vw;
  }
}
@media screen and (max-width: 767px) {
  .police__info-people-image img ~ img {
    display: none;
  }
}
.police__footer p {
  --p-font-size: 2.5rem;
  font-family: var(--title-font);
  text-align: center;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #092148;
}

.covid {
  padding-bottom: 5.5555555556vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
@media screen and (max-width: 1023px) {
  .covid {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5.46875vw;
  }
}
@media screen and (max-width: 767px) {
  .covid {
    padding-bottom: 0;
    background-color: rgba(2, 12, 32, 0.25);
    padding-top: 35px;
  }
}
@media screen and (max-width: 767px) {
  .covid__item {
    margin-bottom: 21px;
  }
}
.covid__item-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-shadow: var(--block-shadow);
  border-radius: var(--block-radius-bigest);
  padding: 3.5416666667vw 2.3611111111vw 3.3333333333vw;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1023px) {
  .covid__item-outer {
    padding: 4.98046875vw 3.3203125vw 4.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .covid__item-outer {
    padding: 11px 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 479px) {
  .covid__item-outer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.covid__item-picture {
  width: 13.8888888889vw;
  height: 13.8888888889vw;
  margin-bottom: 4.1666666667vw;
}
@media screen and (max-width: 1023px) {
  .covid__item-picture {
    width: 19.53125vw;
    max-width: 100%;
    height: 19.53125pxvw;
    max-height: min-content;
  }
}
@media screen and (max-width: 767px) {
  .covid__item-picture {
    flex: 0 0 144px;
    width: 144px;
    max-width: 144px;
    height: 144px;
    max-height: 144px;
  }
}
@media screen and (max-width: 479px) {
  .covid__item-picture {
    flex: 0 0 100px;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
  }
}
.covid__item-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.covid__item-description {
  text-align: center;
  font-weight: 400;
  line-height: 1.25;
  font-family: var(--title-font);
  letter-spacing: -1pх;
  color: #092148;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .covid__item-description {
    max-width: 184px;
    font-size: 16px;
  }
}
.covid__outer {
  background-color: rgba(2, 12, 32, 0.25);
  padding: 5.5555555556vw 3vw;
}
@media screen and (max-width: 1023px) {
  .covid__outer {
    padding: 7.8125vw 1vw;
  }
}
@media screen and (max-width: 767px) {
  .covid__outer {
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    background-color: transparent;
  }
}
.covid__outer-title {
  text-align: center;
  margin-bottom: 5.9027777778vw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 800;
  line-height: 1.25;
  color: #092148;
}
@media screen and (max-width: 1023px) {
  .covid__outer-title {
    margin-bottom: 8.30078125vw;
  }
}
@media screen and (max-width: 479px) {
  .covid__outer-title {
    margin-bottom: 35px;
  }
}

.abroad {
  padding: 5.5555555556vw 0;
  padding-top: 0;
}
@media screen and (max-width: 1023px) {
  .abroad {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 767px) {
  .abroad {
    padding: 56px 0;
  }
}
@media screen and (max-width: 1023px) {
  .abroad {
    padding-top: 0;
  }
}
.abroad__outer {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1023px) {
  .abroad__right {
    margin: 0;
  }
}
.abroad__left-title {
  padding: 5.5555555556vw 0;
  padding-top: 0;
}
@media screen and (max-width: 1023px) {
  .abroad__left-title {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 767px) {
  .abroad__left-title {
    padding: 56px 0;
  }
}
.abroad__news {
  display: flex;
  padding: 2.0833333333vw 2.3611111111vw;
  background-color: #FCFCFC;
  box-shadow: var(--block-shadow);
  border-radius: 0;
}
@media screen and (max-width: 1023px) {
  .abroad__news {
    padding: 2.9296875vw 3.3203125vw;
  }
}
.abroad__news-image {
  flex: 0 0 42%;
}
.abroad__news-image picture,
.abroad__news-image img {
  display: block;
  width: 100%;
  height: auto;
}
.abroad__news-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.0416666667vw;
}
@media screen and (max-width: 1023px) {
  .abroad__news-info {
    padding-left: 1.46484375vw;
  }
}
.abroad__news-title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
}
@media screen and (max-width: 1023px) {
  .abroad__news-title {
    font-size: 1.2rem;
  }
}
.abroad__news-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 1.0416666667vw 0 2rem;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.75;
}
@media screen and (max-width: 1023px) {
  .abroad__news-description {
    margin-top: 1.46484375vw;
  }
}
@media screen and (max-width: 479px) {
  .abroad__news-description {
    margin-top: 15px;
  }
}
.abroad__news-link {
  margin-left: 0;
  margin-right: auto;
}
.abroad__interesting-title {
  max-width: 80%;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1;
  color: #FF6347;
}
@media screen and (max-width: 1023px) {
  .abroad__interesting-title {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
.abroad__interesting-form {
  display: flex;
  margin-top: 3.4722222222vw;
}
.abroad__interesting-form label {
  flex: 0 1 100%;
  padding-right: 1.0416666667vw;
}
.abroad__interesting-searches {
  display: inline-block;
  margin-top: 1.8055555556vw;
  max-width: 35vw;
}
@media screen and (max-width: 1023px) {
  .abroad__interesting-searches {
    margin-top: 2.5390625vw;
  }
}
@media screen and (max-width: 767px) {
  .abroad__interesting-searches {
    margin-top: 25px;
    max-width: 100%;
  }
}
.abroad__interesting-searches p {
  display: inline-block;
}
.abroad__interesting-searches ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 0.9027777778vw;
}
@media screen and (max-width: 1023px) {
  .abroad__interesting-searches ul {
    margin-left: 1.26953125vw;
  }
}
@media screen and (max-width: 767px) {
  .abroad__interesting-searches ul {
    margin-left: 0;
  }
}
.abroad__interesting-searches ul li {
  display: inline-block;
  padding: 0 1rem 1.5rem 0;
}
@media screen and (max-width: 1023px) {
  .abroad__interesting-searches ul li {
    padding: 0 0 0.5rem 0;
  }
}
.abroad__interesting-searches ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9rem;
}
.abroad__interesting-searches ul li + li {
  margin-left: 1.25vw;
}
@media screen and (max-width: 1023px) {
  .abroad__interesting-searches ul li {
    margin-left: 1.7578125vw;
  }
}
@media screen and (max-width: 767px) {
  .abroad__interesting-searches ul li {
    margin-left: 18px;
  }
}
.abroad__news-slider {
  width: 100%;
  overflow: hidden;
}
.abroad__news-slider-title {
  margin-top: 1.5277777778vw;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
}
.abroad__news-slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.abroad__news-slider-outer {
  display: flex;
  padding: 1.3194444444vw 0;
}
.abroad__slide {
  margin-top: 2rem;
}
.abroad__slide-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.abroad__slide-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-color-green);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.abroad__slide-date {
  font-size: 0.8333333333vw;
  display: inline-flex;
  color: rgba(42, 77, 100, 0.5);
}
.abroad__slide-info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.abroad .more__content {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: var(--text-font);
  color: #092148;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.abroad .more__content:after {
  margin-top: -0.3rem;
}
@media screen and (max-width: 767px) {
  .abroad .more__content {
    letter-spacing: 0;
    text-transform: none;
  }
}

.assistance {
  padding: 5rem 0 2.5vw;
  background: url("../assets/map.jpg") no-repeat top center, linear-gradient(270deg, rgba(2, 12, 32, 0.5) 10%, rgba(2, 12, 32, 0.75) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  backdrop-filter: blur(0.5px);
}
@media screen and (max-width: 1023px) {
  .assistance {
    background-size: cover;
    background-position: center;
    padding: 5.5555555556vw 0;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .assistance {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  .assistance {
    padding: 56px 0;
  }
}
@media screen and (max-width: 479px) {
  .assistance {
    padding: 35px 0;
  }
}
.assistance__outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.assistance__outer-title {
  max-width: 55.5555555556vw;
  text-align: center;
  margin-bottom: 4.1666666667vw;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .assistance__outer-title {
    max-width: 100%;
    margin-bottom: 5.859375vw;
  }
  .assistance__outer-title br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .assistance__outer-title {
    margin-bottom: 30px;
  }
}
.assistance__info {
  padding-top: 1.0416666667vw;
  padding-bottom: 3.8194444444vw;
}
@media screen and (max-width: 1023px) {
  .assistance__info {
    order: 2;
    padding-bottom: 2.9296875vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__info {
    padding-bottom: 30px;
  }
}
.assistance__info-title {
  font-family: var(--title-font);
  max-width: 40vw;
  letter-spacing: -0.5px;
  padding: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .assistance__info-title {
    max-width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .assistance__info-title {
    font-size: 20px;
    letter-spacing: 0;
  }
}
.assistance__info-description {
  color: #ffffff;
  margin-top: 1.7361111111vw;
  max-width: 40vw;
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 0 1.75rem;
}
@media screen and (max-width: 1023px) {
  .assistance__info-description {
    max-width: 100%;
    padding: 0;
    margin-top: 2.44140625vw;
  }
}
@media screen and (max-width: 479px) {
  .assistance__info-description {
    margin-top: 15px;
  }
}
.assistance__info-description span {
  display: inline-block;
  margin-bottom: 1.7361111111vw;
}
@media screen and (max-width: 1023px) {
  .assistance__info-description span {
    margin-bottom: 2.44140625vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__info-description span {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.assistance__numbers {
  padding-left: 10vw;
}
@media screen and (max-width: 1023px) {
  .assistance__numbers {
    order: 1;
    padding-left: 0;
    padding-bottom: 2.9296875vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__numbers {
    padding-bottom: 30px;
  }
}
.assistance__numbers-item {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1;
  color: #FF6347;
  max-width: 56%;
}
@media screen and (max-width: 1023px) {
  .assistance__numbers-item {
    max-width: 100%;
  }
}
.assistance__numbers-item span {
  font-family: var(--text-font);
  padding-right: 1.3888888889vw;
  display: block;
  font-size: 7rem;
  letter-spacing: -1px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(0, 0, 255, 0.95);
}
@media screen and (max-width: 1023px) {
  .assistance__reviews {
    order: 3;
  }
}
.assistance__review {
  padding-top: 2.0833333333vw;
}
.assistance__review-picture {
  width: 11.71875vw;
  height: 11.71875vw;
}
@media screen and (max-width: 1023px) {
  .assistance__review-picture {
    width: 9.765625vw;
    height: 9.765625vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-picture {
    width: 60px;
    height: 60px;
  }
}
.assistance__review-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 1023px) {
  .assistance__review-picture img {
    width: 100%;
    height: 100%;
  }
}
.assistance__review-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.2638888889vw 3.4027777778vw;
  border-radius: var(--block-radius-bigest);
  box-shadow: var(--block-shadow);
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
  height: 100%;
}
.assistance__review-outer:hover {
  background-color: var(--bg-color);
}
@media screen and (max-width: 1023px) {
  .assistance__review-outer {
    padding: 4.58984375vw 4.78515625vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-outer {
    padding: 28px 30px;
  }
}
.assistance__review-title {
  max-width: 60%;
  font-family: var(--title-font);
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #092148;
}
@media screen and (max-width: 1023px) {
  .assistance__review-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-title {
    font-size: 14px;
  }
}
.assistance__review-link {
  margin-right: auto;
  margin-top: 0.6944444444vw;
}
@media screen and (max-width: 1023px) {
  .assistance__review-link {
    margin-top: 0.9765625vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-link {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }
}
.assistance__review-date {
  width: 100%;
  margin: 1.3888888889vw 0 0.8333333333vw;
}
@media screen and (max-width: 1023px) {
  .assistance__review-date {
    margin: 1.953125pxvw 0 1.171875vw;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-date {
    font-size: 14px;
    margin: 20px 0 12px;
  }
}
.assistance__review-description {
  color: var(--text-color-green);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1023px) {
  .assistance__review-description {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .assistance__review-description {
    font-size: 14px;
  }
}

.reviews {
  padding: 5.5555555556vw 0;
}
@media screen and (max-width: 1023px) {
  .reviews {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 767px) {
  .reviews {
    padding: 56px 0;
  }
}
@media screen and (max-width: 767px) {
  .reviews {
    padding-top: 25px;
  }
}
.reviews__items {
  overflow: visible;
}
.reviews__outer-title {
  text-align: center;
  margin-bottom: 5.5555555556vw;
}
@media screen and (max-width: 1023px) {
  .reviews__outer-title {
    margin-bottom: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .reviews__outer-title {
    margin-bottom: 30px;
  }
}
.reviews__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .reviews__buttons {
    display: none;
  }
}
.reviews__button-next, .reviews__button-prev {
  cursor: pointer;
  padding: 0.6944444444vw;
  margin: 0.6944444444vw 0.8333333333vw;
}
.reviews__button-next img, .reviews__button-prev img {
  pointer-events: none;
}

.review {
  height: auto;
}
@media screen and (max-width: 560px) {
  .review {
    width: 75%;
    min-width: 270px;
  }
}
.review__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-color);
  box-shadow: var(--block-shadow);
  border-radius: 0;
  padding: 2.3611111111vw 2.7777777778vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .review__block {
    padding: 3.3203125vw 2.9296875vw;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .review__block {
    padding: 31px 10px;
  }
}
.review__block:hover {
  cursor: pointer;
  margin-top: 0.3472222222vw;
  margin-bottom: -0.3472222222vw;
  box-shadow: 0 10px 100px 0 rgba(0, 92, 184, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 1023px) {
  .review__block:hover {
    margin-top: 0.48828125vw;
    margin-bottom: -0.48828125vw;
  }
}
@media screen and (max-width: 767px) {
  .review__block:hover {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.review__block-title {
  align-self: flex-start;
  font-family: var(--title-font);
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #092148;
  margin-top: 0.9722222222vw;
}
@media screen and (max-width: 1023px) {
  .review__block-title {
    align-self: center;
    margin-top: 1.3671875vw;
  }
}
.review__block-date, .review__block-site {
  width: 100%;
  text-align: left;
  font-family: var(--text-font);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0.8333333333vw;
}
@media screen and (max-width: 1023px) {
  .review__block-date, .review__block-site {
    align-self: center;
    text-align: center;
    margin-top: 1.171875vw;
  }
}
.review__block-link {
  margin-top: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .review__block-link {
    margin-left: auto;
    margin-right: 0;
  }
}
.review__block-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
}
@media screen and (max-width: 1023px) {
  .review__block-info {
    align-self: center;
    text-align: center;
    align-items: center;
  }
}
.review__block-description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 2.4305555556vw;
  color: var(--text-color-green);
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0 0;
}
@media screen and (max-width: 1023px) {
  .review__block-description {
    text-align: center;
    margin-bottom: 3.41796875vw;
  }
}
@media screen and (max-width: 767px) {
  .review__block-description {
    -webkit-line-clamp: 6;
    margin-bottom: 20px;
  }
}
.review__logos {
  display: flex;
  justify-content: center;
}
.review__logos-company, .review__logos-seller {
  margin: 0 auto;
  width: 2.7777777778vw;
  height: 2.7777777778vw;
}
@media screen and (max-width: 1023px) {
  .review__logos-company, .review__logos-seller {
    width: 3.90625vw;
    height: 3.90625vw;
  }
}
@media screen and (max-width: 767px) {
  .review__logos-company, .review__logos-seller {
    width: 40px;
    height: 40px;
  }
}
.review__logos-company img, .review__logos-seller img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.questions {
  padding: 5.5555555556vw 0;
  background-color: var(--bg-color-dark);
}
@media screen and (max-width: 1023px) {
  .questions {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 767px) {
  .questions {
    padding: 56px 0;
  }
}
@media screen and (max-width: 767px) {
  .questions {
    padding-bottom: 30px;
  }
}
.questions__outer {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.questions__outer .more__content {
  margin: 0 auto;
}
.questions__outer-title {
  text-align: center;
}
.questions__block {
  flex-direction: column;
  align-items: center;
  margin: 1.0416666667vw 0 2.0833333333vw;
}
@media screen and (max-width: 1023px) {
  .questions__block {
    margin: 1.46484375vw 0 2.9296875vw;
  }
}
@media screen and (max-width: 767px) {
  .questions__block {
    margin: 0 0 30px;
  }
}

.question {
  margin-top: 3.4722222222vw;
}
.question ~ .question {
  margin-top: 2.0833333333vw;
}
@media screen and (max-width: 1023px) {
  .question {
    margin-top: 4.8828125vw;
  }
  .question ~ .question {
    margin-top: 2.9296875vw;
  }
}
@media screen and (max-width: 767px) {
  .question {
    margin-top: 30px;
  }
  .question ~ .question {
    margin-top: 30px;
  }
}
.question details {
  -webkit-appearance: none;
  appearance: none;
  background: var(--bg-color);
  box-shadow: var(--dropdown-shadow);
  border-radius: 1.7361111111vw;
}
@media screen and (max-width: 1023px) {
  .question details {
    border-radius: 2.44140625vw;
  }
}
@media screen and (max-width: 767px) {
  .question details {
    border-radius: 25px;
  }
}
.question details > p {
  padding: 0 1.7361111111vw 3.125vw 1.7361111111vw;
  user-select: none;
  color: var(--text-color-green);
}
@media screen and (max-width: 1023px) {
  .question details > p {
    padding: 0 2.44140625vw 4.39453125vw 2.44140625vw;
  }
}
@media screen and (max-width: 767px) {
  .question details > p {
    padding: 0 25px 45px 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .question details > p {
    font-size: 12px;
  }
}
.question details summary {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  padding: 1.7361111111vw 1.7361111111vw 1.6666666667vw;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .question details summary {
    padding: 2.44140625vw 2.44140625vw 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .question details summary {
    padding: 25px 15px 25px 24px;
  }
}
.question details summary h6 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--text-font);
  font-weight: 600;
  user-select: none;
}
@media screen and (max-width: 767px) {
  .question details summary h6 {
    font-size: 12px;
    line-height: 1.8;
  }
}
.question details summary h6:after {
  content: "";
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  display: block;
  border-left: 0.0694444444vw solid var(--text-black);
  border-bottom: 0.0694444444vw solid var(--text-black);
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  margin-left: 0.6944444444vw;
}
@media screen and (max-width: 1023px) {
  .question details summary h6:after {
    width: 1.953125vw;
    height: 1.953125vw;
    border-left: 0.09765625vw solid var(--text-black);
    border-bottom: 0.09765625vw solid var(--text-black);
    margin-left: 0.9765625vw;
  }
}
@media screen and (max-width: 767px) {
  .question details summary h6:after {
    flex: 0 0 13px;
    width: 13px;
    height: 13px;
    border-left: 1px solid var(--text-black);
    border-bottom: 1px solid var(--text-black);
    margin-left: 10px;
    align-self: flex-start;
    transform: rotate(-45deg);
  }
}
.question details summary::marker, .question details summary::-webkit-details-marker {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .question details[open] summary {
    padding-bottom: 0;
  }
}
.question details[open] summary h6:after {
  transform: rotate(-45deg);
}

.files {
  padding: 1.3888888889vw 0 10.7638888889vw;
  background-color: var(--bg-color-dark);
}
@media screen and (max-width: 1023px) {
  .files {
    padding: 1.953125vw 0 5.46875vw;
  }
}
@media screen and (max-width: 767px) {
  .files {
    padding: 0 0 100px;
  }
}
.files__outer-title {
  text-align: center;
  margin-bottom: 4.8611111111vw;
}
@media screen and (max-width: 1023px) {
  .files__outer-title {
    margin-bottom: 6.8359375vw;
  }
}
@media screen and (max-width: 479px) {
  .files__outer-title {
    margin-bottom: 45px;
  }
}

.file {
  margin-bottom: 1.7361111111vw;
}
@media screen and (max-width: 1023px) {
  .file {
    margin-bottom: 2.44140625vw;
  }
}
@media screen and (max-width: 767px) {
  .file {
    margin-bottom: 56px;
  }
}
.file__link {
  display: inline-flex;
  max-width: 17.4305555556vw;
  align-items: flex-start;
  text-decoration: none;
  color: var(--text-color-green);
  transition: all 0.3s ease-in-out;
}
.file__link:hover {
  color: var(--text-color-dark-hover);
}
.file__link:active {
  color: var(--text-color-dark-active);
}
.file__link:disabled {
  color: var(--text-color-dark-disabled);
}
@media screen and (max-width: 1023px) {
  .file__link {
    max-width: 20.01953125vw;
  }
}
@media screen and (max-width: 767px) {
  .file__link {
    max-width: 100%;
  }
}
.file__link svg {
  flex: 0 0 1.3888888889vw;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  object-fit: contain;
  margin-top: 0.3472222222vw;
}
@media screen and (max-width: 1023px) {
  .file__link svg {
    flex: 0 0 1.953125vw;
    width: 1.953125vw;
    height: 1.953125vw;
    object-fit: contain;
    margin-top: 0.48828125vw;
  }
}
@media screen and (max-width: 767px) {
  .file__link svg {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 0;
  }
}
.file__link-text {
  padding-left: 2.0833333333vw;
}
@media screen and (max-width: 1023px) {
  .file__link-text {
    padding-left: 2.9296875vw;
  }
}
@media screen and (max-width: 767px) {
  .file__link-text {
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.7;
  }
}

.footer {
  background-color: var(--text-color-dark);
  padding: 5.5555555556vw 0 3.9583333333vw;
}
@media screen and (max-width: 1023px) {
  .footer {
    padding: 5.5555555556vw 0;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .footer {
    padding: 5.46875vw 0;
  }
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  .footer {
    padding: 56px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 17px 0 77px;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu.media {
    order: 3;
    margin-top: -20px;
  }
  .footer__menu.info {
    order: 4;
  }
  .footer__menu.companies {
    order: 5;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu {
    margin-top: 40px;
  }
}
.footer__menu-title {
  font-weight: 600;
  line-height: 1.62;
  color: #F6F9FC;
}
@media screen and (max-width: 767px) {
  .footer__menu-title {
    font-size: 20px;
  }
}
.footer__menu-list {
  list-style-type: none;
  margin-top: 0.2083333333vw;
}
@media screen and (max-width: 1023px) {
  .footer__menu-list {
    margin-top: 0.29296875vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-list {
    margin-top: 3px;
  }
}
.footer__menu-list li {
  margin-top: 1.0416666667vw;
}
@media screen and (max-width: 1023px) {
  .footer__menu-list li {
    margin-top: 1.46484375vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-list li {
    margin-top: 15px;
  }
}
.footer__menu-list li a {
  text-decoration: none;
  color: #BFCDD6;
  font-size: var(--p-font-size);
  line-height: 1.7;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.footer__menu-list li a:hover {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer__menu-list li a {
    font-size: 14px;
    line-height: 1.8;
  }
}
.footer__menu-social {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__menu-social {
    order: 2;
    margin-top: 73px;
  }
}
.footer__menu-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
  width: 1.3888888889vw;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .footer__menu-social-list {
    width: 1.953125vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-social-list {
    width: 20px;
    height: 240px;
  }
}
.footer__menu-social-list li {
  display: block;
}
.footer__menu-social-list li a {
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  transition: all 0.3s ease-in-out;
}
.footer__menu-social-list li a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1023px) {
  .footer__menu-social-list li a {
    width: 1.953125vw;
    height: 1.953125vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-social-list li a {
    width: 20px;
    height: 20px;
  }
}
.footer__menu-social-list li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .footer__info {
    order: 1;
  }
}
@media screen and (max-width: 1023px) {
  .footer__info-logo {
    max-width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .footer__info-logo {
    max-width: 189px;
  }
}
.footer__info-contacts {
  margin-top: 0.9027777778vw;
}
@media screen and (max-width: 1023px) {
  .footer__info-contacts {
    margin-top: 1.26953125vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__info-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
}
.footer__info-contacts a {
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5972222222vw;
  line-height: 1.5;
  font-size: var(--h6-font-size);
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.footer__info-contacts a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1023px) {
  .footer__info-contacts a {
    margin-top: 2.24609375vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__info-contacts a {
    margin-top: 16px;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.footer__info-payments {
  margin-top: 7.8472222222vw;
  max-width: 13.8888888889vw;
}
@media screen and (max-width: 1023px) {
  .footer__info-payments {
    max-width: 19.53125vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__info-payments {
    max-width: 200px;
    margin-top: 49px;
  }
}
.footer__info-payments-list {
  display: flex;
  list-style-type: none;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.footer__info-payments-list li {
  flex: 0 0 2.7777777778vw;
  width: 2.7777777778vw;
  max-height: 1.0416666667vw;
}
@media screen and (max-width: 1023px) {
  .footer__info-payments-list li {
    flex: 0 0 3.90625vw;
    width: 3.90625vw;
    max-height: 1.46484375vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__info-payments-list li {
    flex: 0 0 40px;
    width: 40px;
    max-height: 15px;
  }
}
.footer__info-payments-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__copyright {
  margin-top: 4.2361111111vw;
}
@media screen and (max-width: 1023px) {
  .footer__copyright {
    margin-top: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    order: 6;
  }
}
.footer__copyright-text {
  width: 100%;
  color: #ffffff;
  font-size: var(--small-font-size);
  text-align: center;
  font-family: var(--text-font);
}
.footer__copyright-text br {
  display: none;
}
@media screen and (max-width: 767px) {
  .footer__copyright-text {
    max-width: 223px;
    font-size: 12px;
    margin: 0 auto;
    line-height: 22px;
  }
  .footer__copyright-text br {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .about__modal-title {
    font-size: 16px;
  }
}
.about__modal-description span {
  display: block;
  margin-top: 1.0416666667vw;
}
@media screen and (max-width: 1023px) {
  .about__modal-description span {
    margin-top: 1.46484375vw;
  }
}
@media screen and (max-width: 767px) {
  .about__modal-description span {
    font-size: 14px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
